body {
  font-family: 'Merriweather';
  font-size: 16px;
  margin: 15px; padding-right: 2em; padding-left: 2em; padding-top: 2em;
}

.style1{
  font-size: 18px
}
#container {
  width: 750px;
  height: 35px;
  position: relative;
}
#container2 {
  width: 750px;
  height: 35px;
  position: relative;
}
#animate {
  width: 750px;
  height: 35px;
  position: relative;
  opacity: 0;
}
#animate2 {
  width: 750px;
  height: 35px;
  position: relative;
  opacity: 0;
}
#animate3 {
  width: 750px;
  height: 35px;
  position: relative;
  opacity: 0;
}
#animate4 {
  width: 750px;
  height: 35px;
  position: relative;
  opacity: 0;
}
