body {
  font-family: 'Merriweather';
  font-size: 24px;
  margin: 1em; padding-right: 2em; padding-left: 2em; padding-top: 2em;
}


#container {
  width: 90%;
  height: 0.5em;
  position: relative;
}
#container2 {
  width: 90%;
  height: 0.5em;
  position: relative;
}
#animate {
  width: 90%;
  height: 0.5em;
  position: relative;
  opacity: 0;
}
#animate2 {
  width: 90%;
  height: 0.5em;
  position: relative;
  opacity: 0;
}
#animate3 {
  width: 90%;
  height: 0.5em;
  position: relative;
  opacity: 0;
}
#animate4 {
  width: 90%;
  height: 0.5em;
  position: relative;
  opacity: 0;
}
