body {
  font-family: 'Merriweather';
  font-size: 24px;
  margin: 10em; padding: 10em;
}


#container {
  width: 90%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#container2 {
  width: 90%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#animate {
  width: 90%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate2 {
  width: 90%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate3 {
  width: 90%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate4 {
  width: 90%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
